jinja2
openai
selenium
webdriver_manager
pypdf
aiohttp
frozendict
Unidecode
django
django-cockroachdb
psycopg
psycopg2-binary
python-dotenv
django-storages
boto3
b2sdk
Pillow
adrf
django-extensions
celery
django-celery-results
